<a href="https://colab.research.google.com/github/vishalkumarlondon/data-viz-coursework-group-2/blob/master/data_collection_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!wget https://storage.googleapis.com/public-data-data_viz-2/fashionweeks-2019-instagram-geospatial-clean.csv

--2020-04-02 15:51:12--  https://storage.googleapis.com/public-data-data_viz-2/fashionweeks-2019-instagram-geospatial-clean.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 74.125.195.128, 2607:f8b0:400e:c08::80
Connecting to storage.googleapis.com (storage.googleapis.com)|74.125.195.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3254549 (3.1M) [text/csv]
Saving to: ‘fashionweeks-2019-instagram-geospatial-clean.csv’

fashionweeks-2019-i 100%[===================>]   3.10M  --.-KB/s    in 0.01s

2020-04-02 15:51:12 (242 MB/s) - ‘fashionweeks-2019-instagram-geospatial-clean.csv’ saved [3254549/3254549]

In [0]:
import pandas as pd

fashion_weeks_19 = pd.read_csv('/content/fashionweeks-2019-instagram-geospatial-clean.csv')
print(fashion_weeks_19.shape)

(22752, 16)

In [0]:
#show the fashion week 2019 dataframe
fashion_weeks_19.head()

         date                 time  ...   latitude  longitude
0  2019-09-16  2019-09-16 13:39:38  ...  40.702285 -73.995583
1  2019-01-06  2019-01-06 18:12:42  ...  40.749904 -73.991040
2  2019-09-05  2019-09-05 15:40:45  ...  40.720873 -74.006004
3  2019-12-31  2019-12-31 12:56:12  ...  40.720873 -74.006004
4  2019-12-31  2019-12-31 03:37:39  ...  40.720839 -74.005973

[5 rows x 16 columns]

In [0]:
#show the number of posts per city
fashion_weeks_19.filename.value_counts()

nyfw2019    18918
pfw2019      2052
lfw2019      1782
Name: filename, dtype: int64